.navbar {
  display: flex;
  height: 100px;
  justify-content: space-around;
  align-items: center;
}
.items {
  display: flex;
  list-style: none;
  align-items: center;
  width: 40%;
  justify-content: center;
}
.item > a {
  text-decoration: none;
  color: var(--primary-color);
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  font-weight: 500;
}
.logoimg {
  width: 100px;
}
.logo {
  display: flex;
  align-items: center;
}
.item {
  padding: 0.5rem 1rem;
}
.item:hover {
  background-color: #dbdfd0;
  border-radius: 34px;
}
.title {
  font-family: "Playfair Display", serif;
  font-style: italic;
  color: #474747;
  font-size: 42px;
  font-weight: 600;
}

.link {
  text-decoration: none;
}
